*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 0;
    font-family: "Poppins", sans-serif;;
}


body{
    height: 100vh;
    background-color: #E2CE1A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tela{
    width: 944px;
    height: 555px;
    display: flex;
}

.tela-logo{
    width: 304px;
    background-color: #36320A;
    padding: 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}



.logo{
    margin-top: 60px;
    gap: 10px;
    margin-bottom: 10px;
}

.logo h3{
    color: #fff;
    font-size: 23px;
    margin-bottom: 10px;
}
.logo p{
    font-size: 19px;
    font-weight: bold;
    color: #fff;
    margin-bottom: px;
}
.button{
    display: flex;
    flex-direction: column;
}
.button button{
    margin-top: 48px;
    color: #fff;
    border:5px solid #fff;
    background-color: #36320A;
    padding: 20px 30px;
    border-radius: 50px;
    width: 192px;
    margin-bottom: 04px;
    font-size: 20px;
    cursor: pointer;

    font-weight: bold;
}
.button button:hover{
    color: #E2CE1A;
    border:5px solid #E2CE1A;

}
.button a{
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-weight: bold;

}
.button a:hover{
    color: #E2CE1A;
    transition: all 0.3s;
}


.form{
    background-color: #FEFAA1;
    display: flex;
    gap: 30px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.form-text h3{
    font-size: 32px;
}
.form-text p{
    font-size: 19px
}
.form-text h3, .form-text p{
    
    text-align: center;
}

.form input {
    background-color: #E2CE1A;
    font-size: 19px;
    color: #000000;
    font-weight: bold;
    padding: 10px 80px;
    border-radius: 40px;
    border: solid 3px;
}

.form button{
    color: #fff;
    background-color: #36320A;
    padding: 20px 30px;
    border-radius: 50px;
    width: 192px;
    margin-bottom: 04px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.form button:hover{
    color: #E2CE1A;
}
